# Python
__pychache__/
*.py[cod]   
.pytest_cache/

#Virtual Environments
.venv/

# Environment Variables
.env

# IDE and operationg system files
.vscode/
.idea/
.DS_Store

#Coverage reports
.coverage
htmlcov/    

# Build output
dist/
build/
*.egg-info/